{
  "env": {
    "esmUnbundled": {
      "presets": [
        "@babel/preset-react"
      ]
    },
    "esmBundled": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": "> 0.25%, not dead"
          }
        ],
        "@babel/preset-react"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "cjs"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
  }
}
